[package]
name = "vn-engine"
version = "0.1.0"
edition = "2021"

[profile.dev.package."*"]
opt-level = 3

[profile.dev]
opt-level = 1

[dependencies]
"bevy" = { version = "0.8.1", features = ["dynamic"] }
